co
.block1{
	border: 1px;
height: 300px;
width: 300px;
background-image: url(../images/duck_PNG5024.jpg);
background-size: 100%
}
.block1:hover {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  background-image: url(../images/duck_PNG5024.jpg);
background-size: 100%
}

.block2{
	height: 300px;
width: 300px;
background-image: url(../images/duck-png-transparent-3.jpg);
background-size: 100%
}
.block2:hover {
  border-radius: 70%;
  background-image: url(../images/duck-png-transparent-3.jpg);
background-size: 100%
}
.block3{
	height: 300px;
width: 300px;
background-image: url(../images/duck-hd-png--1508.jpg);
background-size: 100%
}
.block3:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
  background-image: url(../images/duck-hd-png--1508.jpg);
background-size: 100%
}

.block4{
	height: 300px;
width: 300px;
background-image: url(../images/1550588999_squirrel-19.jpg);
background-size: 100%
}
.block4:hover {
	background-image: url(../images/1550588999_squirrel-19.jpg);
background-size: 100%
  box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

