.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      html,
body {
  height: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.arouselExampleIndicators{
  padding: 3px;
  height: 200px;
  position: relative;
}
.discr{
  flex:2;
   background-color: #fff;
    min-width: 700px;
    max-width: 700px;
    height: 620px;
}
.mainautoriz{
  border-left:2px solid black;
  background-color: #fff;
  flex:2;
  max-height: 400px;
  max-width: 400px;
  min-width: 400px;

}
.ererererere{
  display: flex;
  flex-direction: row;
}
.omg1{
  width: 300px; 
  height: 200px;
  background-image: url(../images/best-season-osen-park-fc440fd.jpg);
  background-size: 100%;
  margin: 5px;
  flex:2;
}
.omg1:hover{
  width: 300px; 
  height: 200px;
  transition-delay: 2s;
  background-image: url(../images/park-gazon.orig.jpg);
  background-size: 100%;
  margin: 5px;
  flex:2;
}
.omg2{
   width: 300px; 
  height: 200px;
  background-image: url(../images/ddd.jpg);
  background-size: 100%;
  margin: 5px;
  flex:2;
}
.omg2:hover{

  
  transform: scale(1.2);
 
  width: 300px; 
  height: 200px;
  background-image: url(../images/park-dorozhka-skameyki-ozero.jpg);
  background-size: 100%;
  margin: 5px;
  flex:2;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
    background-image: url(../images/335694-svetik.jpg);
  background-size: 100%;
  
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.btn btn-primary{
  margin-top: 5px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}